*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(to right, rgb(45, 45, 214), rgb(74, 213, 74))
}

.calc-grid{
    display: grid;
    margin-top: 2rem;
    grid-template-columns:repeat(4, 6rem);
    grid-template-rows: minmax(7rem,auto) repeat(5,6rem);
    justify-content: center;
    
}


.calc-grid >button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(17, 237, 182);
    outline: none;
    background-color: rgba(250, 235, 215, 0.462);
}

.calc-grid > button:hover,
.calc-grid > button:focus{
    background-color: rgba(74, 213, 74,0.9);
}

.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/-1;
    background-color: rgba(223, 3, 3, 0.347);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}

.output .prev-operator{
    color: rgba(255, 255, 252, 0.707);
    font-size: 1.5rem;

}

.output .curr-operator{
    color: white;
    font-size: 2.5rem;
}